<%= render "/products/userHeader_fields" %>
<div class="presentUrlWrapper">
  <div class="container">
    <div class="presentUrlField mt-lg-5 row">
      <div class="presentInputBox mt-lg-5 p-lg-2 border rounded col-lg-8 offset-lg-2">
        <div class="row">
          <h4 class="pb-lg-3 border-bottom col-lg-12 text-center">下記にURLを入力してください</h4>
        </div>
        <div class="row mt-lg-4">
          <input class="col-lg-10 offset-lg-1" placeholder="URLを貼り付けて下さい" id="inputUrl">
        </div>
        <div class="row">
          <a href="" class="col-lg-6 offset-lg-3 btn btn-pink p-lg-2 mt-lg-5" id="urlKey">確定</a>
        </div>
      </div>
    </div>
  </div>
</div>