<div class="float-left productIndexSide p-lg-3">
  <div class="border-bottom">
    <p>管理人のおすすめ</p>
  </div>
  <div class="container">
    <div class="sideBox row border rounded mt-lg-3">
      <img src="/fieldkoko.png" class="col-lg-12 pt-lg-2 pb-lg-2">
      <p class="text-center">Field Kokoをはじめませんか？</p>
      <p class="font-minimum text-center offset-lg-2">外国人と話したい方必見!</p>
    </div>
    <div class="sideBox row border rounded mt-lg-3">
      <img src="/telepathy.png" class="col-lg-12 pt-lg-2 pb-lg-2">
      <p class="text-center pl-lg-2">ボードゲーム初めませんか？</p>
      <p class="font-minimum text-center offset-lg-2">二人で楽しみたい方！</p>
    </div>
  </div>
</div>